#pics {
  height: 170px;

  .pic {
    display: table-cell;
    position: relative;
    width: 200px;
    margin: 10px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }

    span {
      background: white;
    }
  }
}

#videos {
  height: 170px;

  .video {
    display: table-cell;
    position: relative;
    width: 200px;
    margin: 10px;

    video {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 200px;
    }

    span {
      background: white;
    }
  }
}

#video {
  width: 200px;
}
