* {
  box-sizing: border-box;
}

#peers {
  display: flex;
  font-size: 0;
  flex-flow: row wrap;
  max-width: 2500px;
  margin: 0 auto;
}

#peers figure {
  margin: 0;
  min-width: 81px;
  flex: 0.67;
  transition: .5s;
}

#peers figure img {
  width: 100%;
  height: auto;
}

#peers figure video {
  width: 100%;
  height: auto;
}

#peers figure canvas {
  width: 100%;
  height: auto;
}

#peers figure figcaption {
  font-size: 12px;
}
