#peers .peer {
  display: inline-block;
  position: relative;
  width: 320px;
  margin: 10px;
  height: 240px;
}

#peers .peer img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

#peers .peer video {
  position: absolute;
  width: 320px;
  left: 0;
  top: 0;
  z-index: -1;
}

#peers .peer span {
  background: white;
}

#local video {
  width: 320px;
}
